{% extends "projects/base.html" %}
{% block page_content %}
	{{ super() }}
	<h2>How we integrate with other apps</h2>
	<p>
		Gate supports OpenID connect w/OAuth2 to allow other apps to ask for access to data from your Gate account.
	</p>
	<h2>OIDC & OAuth2</h2>
	<p>
		We support both logging into other apps with your Gate account, but also logging into Gate with your Google/Microsoft/OpenStreetMap account.

		Adding a provider for logging into Gate is as simple as adding another entry in the backend configuration.
	</p>
	<h2>My role</h2>
	<p>
		When making Gate my role was making the backend and most of the core logic for the frontend.
		The design was made by <a href="https://platis.me">Platinumaniac</a>
	</p>
{% endblock %}
