{% extends "projects/base.html" %}
{% block page_content %}
	{{ super() }}
	<h2>Why is it built on Microsoft Forms</h2>
	<p>
		Back when we made Dataform we didn't have access to a server to host anything on; and sharing the data with third parties that wasn't approved is a no-go.

		To work around this issue we built a website that generated a specially formatted string you would paste into an actual Microsoft form, which was then automatically added to an Excel spreadsheet which was then parsed into individual rows by Excel formulas.
	</p>
{% endblock %}
